[submodule "frontend"]
	path = frontend
	url = https://github.com/hirotachi/youcodeurswork-front.git
[submodule "backend"]
	path = backend
	url = https://github.com/hirotachi/youcodeurswork-backend.git
